html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-color); 

}

#header-text{
    margin-top: 20%;
    font-size: 30px;
}
#header-text h2{
    font-size: 60px;
    margin-top: 20px;
    color: var(--secondary-color);
   
}
#header-text p{
    color: var(--secondary-color);
}
h2 span {
    color: #33b5e5;
    animation-name: pra1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
   }

  
@keyframes pra1 {
    0%
     {  
          opacity: 0;  
        transform:translateX(-20px);
        
    }
    100%{
         opacity: 1; 
        transform: translateX(0);
    }
}
#about{
    margin-top: 170px;
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    padding-top: 34px;
    flex-basis: 60%;
}
h2 {
    color: #33b5e5;
    font-size: 40px;
}
.about-col-1 p {
    color: var(--secondary-color);
    padding-top: 45px;
}
.about-col-2{
    flex-basis: 35%;
}
.about-col-2 img{
    width: 100%;
    border-radius: 15px;
    box-shadow:  5px 10px #33b5e5;
}
.about-col-3{
    flex-basis: 35%;
}
.about-col-3 img{
   
    width: 100%;
    box-shadow:  5px 10px #33b5e5;
    
    border-radius: 15px;
}
.about-col-4{
    padding-top: 34px;
    flex-basis: 60%;
}
.about-col-4 p {
    padding-top: 45px;
    color: var(--secondary-color);
}
#contact{
    margin: auto;
}
#contact h2{
    color: #33b5e5;
    padding-top: 210px;
}
.about--part1 {
    opacity: 0;
}
.about--part1 .animated{
    opacity: 1;
} 
#icon{
    width: 30px;
    cursor: pointer;
    

}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff; 
}
#icon-ryt{
    margin-top: 3px;
    margin-left: 620px;
}
:root{
      --primary-color: #edf2f2;
    --secondary-color: #212121;  
     
}

/* ----------------------------------------------------del------------------------------------------ */
 